%form.form
  %fieldset
    .well
      %h4 {{date | date:'dd.MM.yyyy' }}
      %datetimepicker(data-ng-model="date" data-on-set-time="onTimeSet(newDate, oldDate)" data-datetimepicker-config="{minView: 'day'}")

    .well
      %abn-tree(tree-data="indicatorsTree" on-select="toggleFilter(branch)")
