.form-group(name='name')
  %label Название
  %input.form-control(ng-model="#{attribute}.name")
.form-group(name='tag')
  %label Тэг
  %input.form-control(ng-model="#{attribute}.tag")
.form-group(name='value')
  %label Значение
  %textarea.form-control(rows='3' ng-model="#{attribute}.value")
