%a.btn.btn-primary{'ng-if' => 'dictionary', 'ng-click' => "edit()"} Редактировать
%a.btn.btn-success{'ng-click' => "new()"} Добавить
%ul
  %li(ng-repeat='d in dictionaries')
    %a(ui-sref="dictionaries.show({dictionaryId:d.id})") {{d.id}}::{{d.name}}
    %i {{d.tag}}
