<!DOCTYPE html>
<html lang='ru' ng-app="URSKBApp">
<head>
  <title>Urskb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<a ui-sref="/dictionaries">Словари</a>
<%= yield %>

</body>
</html>
